@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  box-sizing:border-box;
  list-style: none;
  text-decoration: none;
} 
.web-header{
  background-color: white!important;
  box-sizing: border-box;
}
.bg-body-tertiary{
  --bs-bg-opacity: 1;
  /* background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important; */
  background: white !important;
}
.web-header .nav-link {
  font-size:14px;
  font-weight: 500;
  color:#7b7b7b;
  margin:0 0.5rem;
}
.web-header .nav-link:hover{
  color:#e73540;
}
.search-bar-box {
  max-width: 400px!important;
  padding-left: 15px;
  padding-right: 5px;
  border-radius: 8px;
}
.catalogs-search .catalogs-search-input {
  width: 780px;
  max-width: 100%;
}
.catalogs-search .catalogs-search-input .input-search {
  border-radius: 6px;
}
.catalogs-search .catalogs-search-input .input-search:before {
  position: absolute;
  left: 10px;
  content: "";
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://mistry.store/images/search-icon.svg") 50% no-repeat;
  background-size: 32px;
  top: 0;
}
.catalogs-search .catalogs-search-input input {
  outline: 0!important;
  padding-left: 3.5rem;
  padding-right: 1rem;
  transition: width .3s;
  border: 0;
  height: 50px;
}

.search-bar-box input {
  background: #f1f1f1!important;
  height: 48px!important;
  border-radius: 8px!important;
  border: 1px solid transparent!important;
  border-bottom: 0!important;
  font-size: 16px!important;
}
.profile-dropdown .dropdown-toggle {
  border-radius: 8px;
  width: -moz-max-content;
  width: max-content;
  height: 50px;
  background: transparent!important;
  color: var(--color-dark)!important;
  text-align: left;
  position: relative;
}
.primary-button {
  height: 45px;
  border: 1px solid #e73540;
  box-shadow: 0 1px 2px rgba(0,0,0,.16);
  transition: all .2s;
  background-color: #e73540;
  color:#fff;
  font-size: 15px;
  padding: 0 1.25rem;
  border-radius: 8px;
}
.primary-button:hover {
  background-color: #fff;
  color: #e73540;
}
.story-list-items{
  width: 64px;
  height:64px;
  background: linear-gradient(225deg,#8a3bee,#f200b7 39%,#fe9402 91.67%);
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-image{
  padding:2px;
  width: 60px;
  height:60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-strip{
  margin:auto;
}
.fs-15{
  font-size: 15px;
}
.fw-600{
  font-weight: 600;
}
.label-color-2 {
  color: var(--label-color-2);
}
.border-partners-box{
  box-shadow:0 0 12px 0 rgba(0,0,0,0.06);
  border:1px solid rgba(0,0,0,0.06);
  border-radius:16px;
  padding:40px 32px;
}
.fs-16{
  font-size: 16px;
  
}
.fw-600{
  font-weight: 600;
}
.image-preview{
  background-color: hsl(from 0, 0%,100%, .7);
  backdrop-filter:blur(10px);
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20000;
  top:0px;
  left:0px;
}
.image-preview img{
  max-width:100%;
  height:80vh;
}
.posibt{
  position:absolute;
  top:0px;
  right:0px;
}
.home-offer-card{
  overflow: hidden;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.06);
    border-radius: 16px 
}
.offer-icon-home{
  background:url("https://mistry.store/images/offer-frame.png")no-repeat 50%;
  min-width:64px;
  min-height: 64px;
  border-radius: 12px 0px 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-color-1 {
  color: var(--label-color-1);
}
.fs-12{
  font-size: 12px;
  font-weight: 400;
}
.blur-backdrop{
  background-color: hsl(from 0, 0%,100%, .7);
  backdrop-filter:blur(10px);
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20000;
  top:0px;
  left:0px;
}
.modal-desgin{
  width:30%;
 
  position: relative;
  border-radius: 20px;
}
.modalclose{
  border:none;
  background-color: #00000000;
  position: absolute;
  right: 0px;
  top:-18px
}
.border-bottom{
  border-bottom: 1px solid #dee2e6;
}
.fw-500 {
  font-weight: 500;
}
.fs-13{
  font-size: 13px;
}
.modalfont{
  font-size: 11px;
  margin-right: 10px;
  background-color: green;
  padding:5px;
  border-radius: 50%;
}
.fs-11{
  font-size: 11px;
}
.fw-400{
  font-weight: 400;
}
.home-marquee {
  background-color: #ffea00;
}
.home-marquee .marquee-tag {
  white-space: nowrap;
  overflow: hidden;
}
.home-marquee .marquee-tag .inner-marquee {
  display: inline-block;
  margin: 0;
  animation: marquee 14s linear infinite;
}
.requirements-box {
  background: linear-gradient(85.45deg,#e6eefd 3.69%,#fff 96.31%);
  border: 1px solid #f2f3f7;
  box-shadow: 0 4px 12px rgba(0,0,0,.1);
  border-radius: 32px;
}
.color-primary{
  color: #e73540;
}
.fs-28{
  font-size: 28px;
}
.label-color-1{
  color: #72777a;
}
.primary-button:hover{
  background-color: #fff;
  color: #e73540;
}
.p-60{
  padding:60px 0px;
}
.building-section{
  padding-top: 60px!important;
}
.works-mistry-section {
  background: linear-gradient(150.74deg,#faf3e9 49.09%,#eceefd 96.67%);
}
.fs-40{
  font-size: 40px;
}
.fs-20{
  font-size: 20px;
}
.fs-17{
  font-size: 17px;
}
.video-box{
  box-shadow: inset 0 0 35px #000;
  background: url("https://mistry.store/images/yt-thumb-1.webp") no-repeat;
  background-size: cover;
 min-height: 424px;
 border-radius: 16px;
 position: relative;
}
 .yt-play-video {
  top: 45%;
  z-index: 9;
  border: none;
}
.m-auto{
  margin:auto;
}
.bg-transparent{
  background-color: #00000000;
}
.register-section{
  background-color: #002f6c ;
  background-image: url("https://mistry.store/images/home/benefits-bg.png"),url("https://mistry.store/images/home/benefits-bg-1.png");
  background-position: top 21% left 2%,top 43% right 9%;
  background-repeat:no-repeat ;
} 
.fs-36{
  font-size: 36px;
}
.fw-700{
  font-weight: 700;
 
}
.flex-column{
  flex-direction: column;
}
.benifites-row {
  max-width:405px;
}
.pro-benefits-box{
  width:180px;
  height:180px;
  border-radius: 18px;
  background-color: #fff5f5;
}
.red-dot-bg{
  background-image: url("https://mistry.store/images/home/red-dot-grid.png");
  background-repeat: no-repeat;
  background-position:bottom 0 right 88%;
}
.trusted-brands-container{
  background: #fff;
    border: 1px solid #f2f3f7;
    box-shadow: 0 4px 12px rgba(0,0,0,.06);
    border-radius: 16px;
  }
  .trusted-box .trusted-nav ul li a {
    border: 1.5px solid hsla(203,3%,46%,.6)!important;
    border-radius: 83.3333px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    height: 45px;
    transition: all .2s;
    white-space: nowrap;
    color:black;
    cursor:pointer;
}
.trusted-box .trusted-nav ul li a:hover{
  color: #fff;
    background-color: #191919;
    border-color: #191919!;
}
.color-medium {
  color: #fff!important;
  background-color: #191919!important;
  border-color: #191919!important;
}
.trusted-brand-item{
  background: #f8f8f8;
  border: 1px solid #f2f3f7;
  border-radius: 16px;
  width: 120px;
  height: 120px;
  margin-right: 24px!important;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.building-section {
  padding-top: 60px!important;
}
.fw-300{
  font-weight: 300;
}
.flash-deals-box .gray-bg {
  top: -60px;
  left: -67px;
}
.fs-18{
  font-size: 18px;
}
.building-section .building-content p {
  line-height: 1.8;
}
.building-box {
  background: #fff;
    box-shadow: 0 0 23.2841px rgba(0,0,0,.06);
    border-radius: 33.529px;
    min-width: 230px;
    max-width: 230px;
    min-height: 230px;
    height:100px;
}
.building-box img{
  height:62px;
}
.fs-14{
  font-size: 14px;
}
.professionals-row {
  max-width: 970px;
}

.proffesion-img img{
  min-height: 230px;
    border-radius: 10px;
    transition: all .4s;
    
}
.overflow-hidden{
overflow: hidden;
}
.mx-auto{
  margin: auto;
}
.proffesion-img:hover img{
  transform:scale(1.1)
}
.download-section {
  background: #f3f3f3;
}
.professional-section{
  background-color: #ef3340;
  background-image:url("https://mistry.store/images/home/professnole-bg-01.png"), url("https://mistry.store/images/home/professnole-bg-02.png");
  background-position: 0 0,100% 100%;
    background-repeat: no-repeat;
}
.color-light-white {
  color: hsla(0,0%,100%,.8);
}
.prowidth{
 max-width:327px;
}
.play-image-box{
  overflow: hidden;
  min-height:160px;
  max-height:160px;
  border-radius: 10px!important;
}
.fs-10{
  font-size: 10px;
}
.professional-section .card {
  border-radius: 20px!important;
}
.industry-section {
  background: #fff;
}
.inds-news-img {
  max-height: 150px!important;
  max-width: 100%!important;
  -o-object-fit: cover;
  object-fit: cover;
}
.industry-section .card{
  background-color: #fff;
  box-shadow:0 4px 12px rgba(0,0,0,.1);
  border-radius:8px;
}
.bg-dark-blue {
  background-color: #002f6c!important;
  border-radius: 8px;
    padding: 40px 69px;
    bottom:-224px;
    background: url("https://mistry.store/_next/static/media/footer-bg-left.13e3db03.png"),url("https://mistry.store/_next/static/media/footer-bg-right.a0d0fd78.png");
    background-position: bottom -32px left -20px,top -51px right -1px ;
    background-repeat: no-repeat;
}

.website-footer {
  background: #f3f3f3;
  padding-top: 150px;
  margin-top: 100px;
}
.website-footer .footer-logo {
  width:250px;
}
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}
.about-us-banner img {
  width: 400px;
}
.color-dark {
  color: #0e0e0e;
}
.about-section {
  padding: 60px 0;
  background: url("https://mistry.store/images/section-bg.webp") 100% no-repeat;
  background-size: 80%;
} 
.about-us-banner h1{
  font-size: 50px;
  line-height: 75px;
}
.w-max-content {
  
  width: max-content;
}
.lh-30{
  line-height: 30px;
}
.aboutcolor {
  color:rgba(0, 0, 0, 0.6);
}
.bridge-section{
  padding-top: 60px;
}
.bridge-section img {
  height: 576px;
}
.about-store-section .h2, .about-store-section h2, .bridge-section .h2, .bridge-section h2 {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px dashed #ccc;
}
.about-store-section img {
  width: 268px;
}
.lh-38{
  line-height: 38px;
}
.lh-26{
  line-height: 26px;
}
.founders-section img {
  width: 230px;
}
.founders-section {
  padding: 40px 0;
}
.fs-35{
  font-size: 35px;
}
.color-cms {
  color: #44382e;
}
.lh-50{
  line-height: 50px;
}
.about-partner .go-to-partner {
  border: 2px solid #e73540;
  width: 4rem;
  height: 4rem;
  transition: all .2s;
}
.about-partner .go-to-partner:hover{
  background:#e73540;
  color:white;
}
.fixed-head{
 /* margin-left: -15px !important; */
  position: fixed;
  /* transition: .3s ease-in-out !important; */
  z-index: 999 !important;
  background-color: white;
}
.home-resp-seacrh{
  max-width: 520px;
  background: #f8f8f8!important;
  border-radius: 8px;
  border: none!important;
}
.input-search{
width: 100%;
}
.home-resp-seacrh input{

width: 100%;
  height:40px;
border:none;

}
.input-search::before{
position:absolute;
content:'';
width:40px;
height:30px;
background-image: url("https://mistry.store/images/search-icon.svg");
background-repeat:no-repeat ;
color:#f8f8f8;
display:flex;
align-items:c enter;
justify-content: center;
background-size:22px!important;
top: 10px;
left: 20px;
}
.categs-box img{
  height:45px;
}
.categs-box{
  box-shadow:0px 4px 12px rgba(0, 0, 0,.06);
  background-image:url("https://mistry.store/images/categ-card-bg.svg");
  background-position: top right 0px;;
  background-repeat: no-repeat;
  max-width:110px;
  min-width: 110px;
  display: flex;
  align-items:center;
  justify-content:center;
border-radius: 8px;
background-color: #fff;
    border: 1px solid rgba(0,0,0,.06);  
}
.havelimg img{
  max-width:180px;
  max-height: 240px;
  /* min-height:240px; */
  border-radius: 5px;
}
.col-20{
  flex: 0 0 auto;
  width: 20%!important;
}
.line-clamp-1{
  display:-webkit-box!important;
  -webkit-box-orient:vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.color-black{
  color: #000;
}
.heavel {
  position: absolute;
  width:56px;
  height:56px;
  overflow: hidden;
  background-image:url("https://mistry.store/images/brand-bg.svg");
  background-repeat: no-repeat;
  background-size:55px;

  right: 1.25rem;
  bottom: 1.25rem;
 
}
.heavel img{
  width:100%;
  padding:2px;
}
.color-cms{
  color: #44382e;
}
.fw-normal{
  font-weight: 400;
}
.community-section {
  padding: 80px 0 110px;
  background: url("") 100% no-repeat;
  background: url("https://mistry.store/images/section-bg.webp");
  background-repeat: no-repeat;
}
.color-light{
  color:#7b7b7b;
}
.radio-items{
  position: relative;
}
.form-check-input:focus {
  border-color: #86b7fe;
  /* outline: 0; */
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e73540;
}
.form-check-input:checked{
  background-color:   #e73540 !important; 
  border-color:#e73540!important;
}
label {
  display: inline-block;
  font-size: 15px;
  margin-right: 15px;
}
.formdesgin .input-group input{
 
  border-bottom: 1px solid #1d9dd1!important;
 

}
.textpara{
  height: 160px;
  border: 1px solid #1d9dd1!important;
  font-size: 15px;
  color:#7b7b7b;
}
.cms-section {
  padding-top:80px;
}
.cms-section p {
  font-size: 15px;
  color: #44382e;
  line-height: 24px;
  text-decoration: none;
  /* margin-bottom: 1.5rem; */
}
 .cms-section h1 {
  font-size: 35px;
  color:#44382e;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.liststyle li{
  list-style: disc!important;
}
.cms-section h2{
  font-size: 16px;
    color: #44382e;
    font-weight: 600;
    margin-bottom: 0.5rem 
}
.cms-section ul {
  margin-bottom: 2rem;
}
.cms-section ul li {
  font-size: 15px;
  color: #44382e;
  line-height: 24px;
  margin-bottom: 0.25rem;
}
.cms-section a {
  font-size: 15px;
  color: #44382e;
  line-height: 24px;
  text-decoration: none;
  margin-bottom: 1.5rem;
}
.user-point-box{
  background: rgba(255,203,91,.2);
    border-radius: 4px;
}
.orders-more-options {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
}
.arrowright{
 width: 10px;
}
.orders-more-options ul li:hover a{
  color: #ff0000; /* Change this to the desired text color on hover */
}
.orders-more-options ul li a:hover .tempo-red {
 display:inline!important;
}
.orders-more-options ul li a:hover .tempo-black {
  display:none!important;
 }
 .order-searchbar{
  width:360px;
  max-width: 100%;
  position:relative;
 }
 .order-searchbar input{
  outline: 0 !important;
  height:50px;
  padding-right:3rem;
  padding-left:1rem;
  border:0;
  border-radius:8px;
  font-size:13px;
  background-color:#f8f8f8 ;
 
 }
 .order-searchbar::after{
  content:'';
  width:32px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://mistry.store/images/magnifyingglass.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  position: absolute;
  top:15px;
  right:10px;
 }
 .accordion-item {
  color:black;
  background-color: #fdebec!important;
border-radius:10px ;
  border: 0 !important;;
  margin-bottom: 20px;
}
.accordion-button:focus {
  z-index: 3;
  /* border-color: var(--bs-accordion-btn-focus-border-color); */
  outline: 0;
  box-shadow: none!important;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size:14px !important;
  color: black;
  font-weight: 500;
  text-align: left;
  background-color: #f8f6f6!important;
  border: 0;
  border-radius: 10;
  overflow-anchor: none;

}
.accordion-button:not(.collapsed) {
 
  background-color:#fdebec!important;
  box-shadow:none!important;
 
}
.accordion-body{
  color:#72777a;
  font-size: 14px;
  font-weight: 400;
  padding:0px 20px 10px 20px  !important;
}
.brand-partner{
  border-radius: 8px;
  background-color: #f8f8f8;
  border:1px solid #f2f3f7;
  min-width:230px;
  max-width:230px;
  min-height:220px;
}
.b-image{
  min-height: 40px;
  max-height: 40px;
}
.fs-24{
  font-size: 24px;
}
.slick-dots li button{
  padding: 0px !important;;
  width: 16px !important;
  margin:0px;
  height: 6px!important;
  border-radius:10px !important;

  background: hsla(203,3%,46%,.6)!important;
}
.slick-dots li.slick-active button{
  background-color: black!important;
 width: 28px!important;
 
}
.slick-dots li button::before{
  font-family: none!important;
}
.slick-dots li{
  width: auto!important;
  position: initial!important;
}   
  .insta-backdrop{
    background: rgba(0,0,0,.5);
    /* backdrop-filter:blur(10px); */
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9000;
    top:0px;
    left:0px;
  }
